<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="content.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="http://momentjs.cn/downloads/moment.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<body>
    <div id="app" v-cloak>

        <div class="dialog" v-if="dialogState" v-cloak>
            <h3>字段选择</h3>
            <table class="table table-bordered table-hover">
                <thead>
                    <th @click="changeallcheck" class="checkall">{{checkall?'全选':'全不选'}}</th>
                    <th>字段名</th>
                    <th>字段描述</th>
                    <th>字段类型</th>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in fieldDetail" :key="index" @click="changecheck">
                        <td><input type="checkbox"></td>
                        <td>{{item.fieldName}}</td>
                        <td>{{item.fieldDesc}}</td>
                        <td>{{item.fieldType}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-3 col-md-offset-9">
                <button class="btn btn-success"  @click="save">保存</button>
                <button class="btn btn-danger" @click="changeDialog">取消</button>
            </div>
        </div>
        <p>
            <span class="choose">抽取字段</span> 
            <span class="field" v-for="(item, index) in pickedField">{{item}}  </span>
            <button class="btn btn-info btn-edit btn-xs" @click="changeDialog">编辑</button>
        </p>
        <table class="table table-bordered table-hover">
            <thead>
                <th>字段选择</th>
                <th>时间</th>
                <th>查询引擎</th>
                <th width="60"><button class="btn btn-success btn-xs" @click="addlist">增加</button></th>
            </thead>
            <tbody>
                <tr v-for="(item, index) in looklists" :key="index">
                    <td>
                        <el-tag type="success" v-for="(tag, y) in fieldslist[index]" :key="y">{{tag}}</el-tag>
                        <el-cascader :options="options" :show-all-levels="false" @change="addfield" @focus="setIndex(index)"
                            style="width: 110px"></el-cascader>
                    </td>
                    <td>
                        <el-date-picker v-model="date[index]" type="date" placeholder="选择日期" style="width: 150px">
                        </el-date-picker>
                    </td>
                    <td>
                        <el-select v-model="engin[index]" style="width:120px" placeholder="请选择">
                            <el-option v-for="(v, count) in enginOptions" :key="count" :label="v.label" :value="v.label">
                            </el-option>
                        </el-select>
                    </td>
                    <td><button class="btn btn-danger btn-xs" @click="removelist">删除</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-success">查询</button> <button class="btn btn-success">下载</button>
        </div>
        <div class="result">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">结果</a></li>
            </ul>
            
        </div>
    </div>
</body>
<script>
    // 获取url参数
    function getParams() {
        const url = location.search; 
        const theRequest = {};
        if (url.indexOf("?") != -1) {
            const str = url.substr(1);
            const strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) { 
                theRequest[strs[i].split("=")[0]] = strs[i].split("=")[1];
            }   
        }   
        return theRequest;
    }
    
    const vm = new Vue({
        el: '#app',
        data: {
            checkall: true,
            fieldDetail: [
                    {fieldName: 'oreder1', fieldDesc: '订单号', fieldType: 'string'},
                    {fieldName: 'oreder2', fieldDesc: '订单号', fieldType: 'string'},
                    {fieldName: 'oreder3', fieldDesc: '订单号', fieldType: 'string'},
                ],
            pickedField: [],
            looklists: ['row'],              // 借用循环增加个数
            fieldslist: [],
            date: [],
            options: '',
            enginOptions: [{label: 'Hive'}, {label: 'Spark SQL'}, {label: 'Kudu'}],
            engin: [],
            fieldsIndex: 0,
            dialogState: false,
        },
        created() {
            this.pickedField = this.fieldDetail.map(x => x.fieldName);
            this.options = [...Object.keys(this.fieldDetail[0])].map(x =>  {
                return {value: x, label: x, children: []}
            })
            this.options.map(x => { x.children = this.fieldDetail.map(y => {
                return {value: y[x.value], label: y[x.value]}
            })});
        },
        methods: {
            changeallcheck() {
                const checkboxs = document.querySelectorAll('input[type=checkbox]');
                console.log(checkboxs)
                if (this.checkall) {
                    [...checkboxs].map(x => x.checked = true);
                } else {
                    [...checkboxs].map(x => x.checked = false);
                }
                this.checkall = !this.checkall;
            },
            changecheck(e) {
                console.log(e)
                const inputDom = e.currentTarget.firstChild.firstChild;
                if (e.target.nodeName !== 'INPUT') {
                    inputDom.checked = !inputDom.checked;
                } 
            },
            changeDialog() {
                this.dialogState = !this.dialogState;
            },
            save() {
                const checkeds = [...document.querySelectorAll('input[type=checkbox]')];
                this.pickedField = [...checkeds].map(x => {
                    if (x.checked) {
                        return x.parentNode.nextElementSibling.innerHTML
                    }
                });
                this.changeDialog();
            },
            addlist() {
                this.looklists.push('row');
                this.fieldslist.length += 1;
            },
            removelist(e) {
                const index = e.currentTarget.parentNode.parentNode.rowIndex;
                this.looklists.splice(index-1, 1);
                this.fieldslist.splice(index-1, 1);
                this.date.splice(index-1, 1);
                this.engin.splice(index-1, 1);
            },
            setIndex(index) {
                this.fieldsIndex = index;
                // 修改输入框的默认显示项
                const spanDoms = document.querySelectorAll('.el-cascader__label');
                for (const spanDom of [...spanDoms]) {
                    spanDom.innerHTML = "请选择"
                }
            },
            addfield(value) {               // vue 不支持监听二维数组，故采用直接用数组替换相应项，触发更新
                const temp = this.fieldslist[this.fieldsIndex] || [];
                temp.push(value[1]);
                this.fieldslist.splice(this.fieldsIndex, 1, temp);
            }
        }
    })
</script>
</html>