[v-cloak] {
    display: none;
  }
.choose {
    margin-right: 15px;
}
.btn-edit {
    margin-left: 10px;
}
.dialog {
    width: 80%;
    margin: 15px auto;
    min-height: 500px;
    border: 1px solid #777;
    padding: 20px;  
    position: fixed;
    background: white;
    margin: 0 auto;
    margin-top: 60px;
    right: 0;
    left: 0;
    z-index: 100;
}
.checkall {
    width: 80px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.result {
    margin-top: 15px;
}

.result a {
    font-size: 20px;
}
